@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "San-de-More";
    src: url("/fonts/San-de-More-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Chomsky";
    src: url("/fonts/Chomsky.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
@layer components {
  .btn {
    @apply bg-black text-white dark:bg-white dark:text-black p-2;
  }

  .search {
    @apply p-2 bg-gray-200 text-black focus:outline-0;
  }
}
