@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "San-de-More";
    src: url("/fonts/San-de-More-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "Chomsky";
    src: url("/fonts/Chomsky.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Akhand";
    src: url("/fonts/Akhand_Devanagari_Semibold.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Akhand-Bold";
    src: url("/fonts/AkhandDevanagari-Extrabold.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Ananda-ktm";
    src: url("/fonts/ANANDA_DEVANAGARI_KTM.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Ananda-np";
    src: url("/fonts/ANANDA_DEVANAGARI_NP.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Ananda-round";
    src: url("/fonts/ANANDA_DEVANAGARI_ROUND.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Shree";
    src: url("/fonts/SHREE-DV0726-OT_1.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
@layer components {
  .btn {
    @apply bg-black text-white dark:bg-white dark:text-black p-2;
  }

  .search {
    @apply p-2 bg-gray-200 text-black focus:outline-0;
  }
}
